@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #224766;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fafafa;
  --foreground: #151419;
}

.dark {
  --background: #151419;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}