@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #224766;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

body {
  background-color: var(--background);
  font-family: var(--font-sans), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}